@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  width: 100%;
  background: var(--neutral-color);
  display: flex;
  flex-direction: column;
}
.calendar .body {
  margin-top: 1rem !important;
  min-width: 75%;
  align-self: center;
  border: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 6rem;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
    animation: fillColor .5s;
    animation-fill-mode: forwards;
}

.calendar .body .selected {
  background: linear-gradient(45deg, #1a90ffe8 0%, #53ccf1e0 40%);
  color: #fff;
}

.calendar .body .today {
  background: linear-gradient(45deg, #65ff3ee7 0%, #53f188e1 40%);
  color: #fff;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}
.event{
    height: 30px;
    background-color: #ff1a1aa9; 
}
.event-start{
 margin-left: 35px;
 border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
}
.event-end{
 margin-right: 35px;
 border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}
@keyframes fillColor {
  from {
    background: var(--neutral-color);
    color: var(--text-color);
  }
  to {
  background: linear-gradient(45deg, #1a90ffe8 0%, #53ccf1e0 40%);
    color: #fff;
  }
}
