.makeStyles-paper-2:focus,
.makeStyles-paper-6:focus,
.makeStyles-paper-14:focus,
.makeStyles-paper-18:focus {
  outline: none !important;
}

.toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 8%;
  margin-bottom: 15px;
  flex-wrap: wrap;
  p {
    font-weight: 300 !important;
    margin: 10px 0px;
  }
}
.rbc-month-view {
  margin: 10px 8%;
  width: unset !important;
  // background-color: #e9ecef6c;
  backdrop-filter: blur(5px);
  border-width: 0 !important;
  border-radius: 1rem;
  border: 1px solid black !important;
}
.rbc-header {
  padding: 10px 5px !important;
  font-weight: 400 !important;
}
.rbc-toolbar-label {
  font-size: larger !important;
}
.rbc-date-cell > a {
  cursor: default !important;
}
.rbc-show-more {
  background: inherit !important;
}
.rbc-day-bg:not(.rbc-off-range-bg):hover {
  background-color: rgba(245, 216, 120, 0.315) !important;
}

// .rbc-off-range-bg {
//   background-color: #5050505e !important;
// }
// .rbc-off-range {
//   color: black !important;
// }

.rbc-today {
  background-color: #007bff98 !important;
}
.priority-high {
  background-color: rgba(253, 48, 48, 0.897) !important;
}
.priority-medium {
  background-color: rgba(253, 140, 48, 0.897) !important;
}
.priority-low {
  background-color: rgba(77, 202, 108, 0.897) !important;
}

.login {
  text-align: center;
}

.emailinput:focus {
  outline: none;
}

@import "react-big-calendar/lib/sass/styles";
