@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#007bffba, #6710f2ba);
  margin: 0;
  padding: 0;
}

button {
  color: #333 !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: bold !important;
}

* {
  border-color: #4747478c !important;
}

.App {
  min-height: 97vh;
}

.alert {
  width: 70%;
  padding: 12px 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 12px;
  font-size: 16px;
  margin-top: 20px;
}

.alert.alert-danger {
  background-color: rgba(248, 215, 218, 1);
  border-color: rgba(220, 53, 69, 1);
  color: rgba(114, 28, 36, 1);
  margin-top: 20px;
}

.alert.alert-warning {
  background-color: rgba(252, 248, 227, 1);
  border-color: rgba(177, 161, 129, 1);
  color: rgba(138, 109, 59, 1);
}
@media only screen and (max-width: 600px) {
  .rbc-month-view {
    margin: 0 !important;
    width: 100% !important;
    height: 1200px;
  }
}
